@model IEnumerable<Assignment2.Models.ScheduleMembers>

@{
    ViewData["Title"] = "MySchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MySchedule</h2>

@foreach (var items in Model)
{    
<p>@Html.DisplayFor(modelItem => items.MemberEmail)</p>
}
<div>

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="AllSchedule">Back to List</a>
    }

    @if (User.IsInRole("Coach"))
    {
        <a asp-action="MySchedule">Back to List</a>
    }

</div>
