@model IEnumerable<Assignment2.Models.ScheduleMembers>

@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Members</h2>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberEmail)
            </td>

        </tr>
}
    </tbody>
</table>
